@font-face {
    font-family: 'Birmingham Signature';
    src: url('https://cdn.jsdelivr.net/gh/IntenseParijat/cdn@bf6860aaceea2763804b9e3f81f209c46d4e40ee/fonts/Birmingham%20Signature.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    margin:0;
    background:#000;
    color:white;
    font-family:Arial,sans-serif;
}

h1{
    font-family: 'Birmingham Signature', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 30px 0;
    font-weight: normal;
    padding:20px;
}

#wall{
    column-count:8;
    column-gap:10px;
    padding:10px;
}

.poster{
    width:100%;
    margin-bottom:10px;
    border-radius:8px;
    transition:.3s;
}

.poster:hover{
    transform:scale(1.05);
}

@media(max-width:1200px){
    #wall{column-count:6;}
}

@media(max-width:800px){
    #wall{column-count:4;}
}

@media(max-width:500px){
    #wall{column-count:2;}
}